/* Background color for the main window */
QMainWindow {
    background-color: #F4FAFF;
    font-family: Roboto;
}

/* Style for the CreditsDialog */
QWidget#CreditsWindow , QWidget#SettingsWindow , QWidget#QuickStartWindow {
    background-color: #F4FAFF;
    border-radius: 10px;
    text-align: center;
}

QLabel#title_label , QLabel#label_description , QLabel#label_title {
    font-size: 32px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

QLabel#title_settings {
    font-size: 32px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

QLabel#credits_label {
    font-size: 14px;
    color: #555;
    text-align: center;
}

QPushButton#close_button {
    background-color: #256ED1;
    color: white;
    border-radius: 10px;
}

/* Sidebar styles */
QWidget#sidebar {
    background-color: #5773A5;
    border-radius: 10px;
}

QPushButton#credits_button, QPushButton#settings_button {
    background-color: #527fbf;
    color: white;
    border-radius: 13px;
}

QPushButton#credits_button::hover, QPushButton#settings_button::hover,QPushButton#close_button::hover {
    background-color:rgb(85, 122, 173);
}

/* Logo label */
QLabel#logo_label {
    text-align: center;
}

/* Buttons with toggle functionality */
QPushButton#screenshot_button, QLineEdit#description_button {
    background-color: #527fbf;
    color: white;
    border-radius: 16px;
}

QPushButton#screenshot_button::hover, QPushButton#description_button::hover {
    background-color: rgb(85, 122, 173);
}

/* Search bar and button */
QLineEdit#search_bar {
    background-color: #F4FAFF;
    border: 2px solid #cfe2ff;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    color: #555;
}

QPushButton#search_button {
    background-color: #527fbf;
    color: white;
    border-radius: 13px;
}

QPushButton#search_button::hover,QPushButton#sidebar_button::hover {
    background-color:rgb(85, 122, 173);
}

/* Placeholder message */
QLabel#placeholder_message {
    font-size: 16px;
    color: #555;
    padding: 20px;
    text-align: center;
}

QWidget#card_container {
    background-color:#ffffff;
    border: none; 
}

/* Cards area */
QScrollArea#card_area {
    background-color: #ffffff;
    border-radius: 13px;
    border: none;
}

QFrame#card {
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px;
}

QLabel#image_label {
    text-align: center;
}

QLabel#title_label, QLabel#screenshot_label, QLabel#description_label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
    text-align: center;
}

QLabel#description_label {
    font-size: 12px;
    color: #555;
    text-align: center;
}

/* Sidebar button */
QPushButton#sidebar_button {
    background-color: #527fbf;
    color: white;
    border-radius: 15px;
    font-size: 18px;
}

